<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>search using post</title>
</head>
<body>
    <form action="/data/search-post" method="post">
        {% csrf_token %}
        <input type="checkbox" name="check_list" value="name"> name
        <input type="checkbox" name="check_list" value="gender"> gender
        <input type="checkbox" name="check_list" value="country"> country
        <input type="checkbox" name="check_list" value="race"> race
        <input type="checkbox" name="check_list" value="address"> address
        <br/>

        <input type="text" name="country" placeholder="country">
        <input type="text" name="gender" placeholder="gender">
        <input type="text" name="race" placeholder="race">
        <input type="submit" value="Generate">
    </form>

    <!-- result display. rlt is defined in search.py-->
    <p>
        {% autoescape off %}
            {% for item in datas %}
{#                {% for key, value in item.items %}#}
{#                        {{ value }},#}
{#                {% endfor %}#}
                {% if item.Name %}
                    {{ item.Name }},
                {% endif %}
                {% if item.Gender %}
                    {{ item.Gender }},
                {% endif %}
                {% if item.CountryName %}
                    {{ item.CountryName }},
                {% endif %}
                {% if item.Race %}
                    {{ item.Race }},
                {% endif %}
                {% if item.Address %}
                    {{ item.Address }}.
                {% endif %}
                </br>
            {% endfor %}
        {% endautoescape %}
    </p>
</body>
</html>
