<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Generator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static "datagen/bootstrap/css/bootstrap.min.css" %} "/>
    <link rel="stylesheet" type="text/css" href=" {% static "datagen/bootstrap/css/magic-check.css" %} "/>
    <script src="{% static "datagen/bootstrap/js/jquery.min.js" %}"></script>

</head>

<body>
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/DataGenerator/">Data Generator</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/DataGenerator/manual">User Manual</a></li>
                <li><a href="/DataGenerator/documentation">Documentation</a></li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <form action="/DataGenerator/" method="post">
            {% csrf_token %}
            <div class="container">

                <!--name-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="name" id="checkName">
                        <label for="checkName"> Name </label>
                    </div>
                </div>
                <br>

                <!--gender-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="gender" id="checkGender">
                        <label for="checkGender"> Gender </label>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="number" min="0" max="100" class="form-control" name="male_percent"
                                   placeholder="Male Percentage" id="male_percent_id" disabled="disabled">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="number" min="0" max="100" class="form-control" name="female_percent"
                                   placeholder="Female Percentage" id="female_percent_id" disabled="disabled">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>

                </div>
                <br>

                <!--country-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="country"
                               id="checkCountry">
                        <label for="checkCountry"> Country </label>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="country_name_1" id="country_name_1_id"
                                    disabled="disabled">
                                <option>No Preference</option>
                                <option> Australia</option>
                                <option> Canada</option>
                                <option> Hong Kong</option>
                                <option> Malaysia</option>
                                <option> Philippines</option>
                                <option> Singapore</option>
                                <option> Thailand</option>
                                <option> United Kingdom</option>
                                <option> United States</option>
                                <option> Indonesia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="number" min="0" max="100" class="form-control" name="country_percent_1"
                                   placeholder="Percentage" id="country_percent_1_id" disabled="disabled">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="country_name_2" id="country_name_2_id"
                                    disabled="disabled">
                                <option>No Preference</option>
                                <option> Australia</option>
                                <option> Canada</option>
                                <option> Hong Kong</option>
                                <option> Malaysia</option>
                                <option> Philippines</option>
                                <option> Singapore</option>
                                <option> Thailand</option>
                                <option> United Kingdom</option>
                                <option> United States</option>
                                <option> Indonesia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="number" min="0" max="100" class="form-control" name="country_percent_2"
                                   placeholder="Percentage" id="country_percent_2_id" disabled="disabled">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>

                <!--race-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="race" id="checkRace">
                        <label for="checkRace"> Race </label>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="race_name_1" id="race_name_1_id" disabled="disabled">
                                <option>No Preference</option>
                                <option> Generic</option>
                                <option> Chinese</option>
                                <option> Indian</option>
                                <option> Malay</option>
                                <option> American</option>
                                <option> African</option>
                                <option> French</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="number" min="0" max="100" class="form-control" name="race_percent_1"
                                   placeholder="Percentage" id="race_percent_1_id" disabled="disabled">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="race_name_2" id="race_name_2_id" disabled="disabled">
                                <option>No Preference</option>
                                <option> Generic</option>
                                <option> Chinese</option>
                                <option> Indian</option>
                                <option> Malay</option>
                                <option> American</option>
                                <option> African</option>
                                <option> French</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="number" min="0" max="100" class="form-control" name="race_percent_2"
                                   placeholder="Percentage" id="race_percent_2_id" disabled="disabled">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>

                <!--address-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="address"
                               id="checkAddress">
                        <label for="checkAddress"> Address </label>
                    </div>

                    {#                    <div class="col-sm-2">#}
                    {#                        <div class="form-group">#}
                    {#                            <select class="form-control" name="address_name_1" id="address_name_1_id"#}
                    {#                                    disabled="disabled">#}
                    {#                                <option>No Preference</option>#}
                    {#                                <option> Australia</option>#}
                    {#                                <option> Canada</option>#}
                    {#                                <option> Hong Kong</option>#}
                    {#                                <option> Malaysia</option>#}
                    {#                                <option> Philippines</option>#}
                    {#                                <option> Singapore</option>#}
                    {#                                <option> Thailand</option>#}
                    {#                                <option> United Kingdom</option>#}
                    {#                                <option> United States</option>#}
                    {#                                <option> Indonesia</option>#}
                    {#                            </select>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="col-sm-3">#}
                    {#                        <div class="input-group">#}
                    {#                            <input type="number" min="1" max="100" class="form-control" name="address_percent_1"#}
                    {#                                   placeholder="Percentage" id="address_percent_1_id" disabled="disabled">#}
                    {#                            <span class="input-group-addon">%</span>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="col-sm-2">#}
                    {#                        <div class="form-group">#}
                    {#                            <select class="form-control" name="address_name_2" id="address_name_2_id"#}
                    {#                                    disabled="disabled">#}
                    {#                                <option>No Preference</option>#}
                    {#                                <option> Australia</option>#}
                    {#                                <option> Canada</option>#}
                    {#                                <option> Hong Kong</option>#}
                    {#                                <option> Malaysia</option>#}
                    {#                                <option> Philippines</option>#}
                    {#                                <option> Singapore</option>#}
                    {#                                <option> Thailand</option>#}
                    {#                                <option> United Kingdom</option>#}
                    {#                                <option> United States</option>#}
                    {#                                <option> Indonesia</option>#}
                    {#                            </select>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="col-sm-3">#}
                    {#                        <div class="input-group">#}
                    {#                            <input type="number" min="1" max="100" class="form-control" name="address_percent_2"#}
                    {#                                   placeholder="Percentage" id="address_percent_2_id" disabled="disabled">#}
                    {#                            <span class="input-group-addon">%</span>#}
                    {#                        </div>#}
                    {#                    </div>#}

                </div>
                <br>

                <!--credit card-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="credit_card"
                               id="checkCard">
                        <label for="checkCard"> Credit Card </label>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="cc_name_1" id="cc_name_1_id" disabled="disabled">
                                <option>No Preference</option>
                                <option>American Express</option>
                                <option>Bankcard</option>
                                <option>China UnionPay</option>
                                <option>Diners Club Carte Blanche</option>
                                <option>Discover Card</option>
                                <option>InterPayment</option>
                                <option>JCB</option>
                                <option>Laser</option>
                                <option>MasterCard</option>
                                <option>Solo</option>
                                <option>Switch</option>
                                <option>Visa</option>
                                <option>UATP</option>
                                <option>Verve</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="number" min="0" max="100" class="form-control" name="cc_percent_1"
                                   placeholder="Percentage" id="cc_percent_1_id" disabled="disabled">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="cc_name_2" id="cc_name_2_id" disabled="disabled">
                                <option>No Preference</option>
                                <option>American Express</option>
                                <option>Bankcard</option>
                                <option>China UnionPay</option>
                                <option>Diners Club Carte Blanche</option>
                                <option>Discover Card</option>
                                <option>InterPayment</option>
                                <option>JCB</option>
                                <option>Laser</option>
                                <option>MasterCard</option>
                                <option>Solo</option>
                                <option>Switch</option>
                                <option>Visa</option>
                                <option>UATP</option>
                                <option>Verve</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <input type="number" min=01" max="100" class="form-control" name="cc_percent_2"
                                   placeholder="Percentage" id="cc_percent_2_id" disabled="disabled">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>

                <br>
                <!--generate bottom and number of rows-->
                <div class="row">
                    <div class="col-sm-2">
                        <input type="number" min="1" max="1000" class="form-control" name="rows"
                               placeholder="number of rows">
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" class="btn btn-info" value="Generate">
                    </div>
                </div>
            </div>

        </form>
    </div>

    {#present data#}
    {% if datas %}
        <div class="jumbotron">
            <div class="container">
                <p> {{ datas|length }} rows of data generated!</p>
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active" id="sub_page_1"><a> Generated Data</a></li>
                    <li role="presentation" id="sub_page_2"><a> SQL </a></li>
                </ul>
            </div>

            <!-- result display. rlt is defined in search.py-->
            <div class="container" id="table_data">
                {% autoescape off %}

                    {% if datas %}
                        <table class="table table-striped table-bordered">
                            <!-- header of the table-->
                            <thead>
                            <tr>
                                {% if datas.0.Name %}
                                    <th> Name</th>
                                {% endif %}
                                {% if datas.0.Gender %}
                                    <th> Gender</th>
                                {% endif %}
                                {% if datas.0.Country %}
                                    <th> Country</th>
                                {% endif %}
                                {% if datas.0.Race %}
                                    <th> Race</th>
                                {% endif %}
                                {% if datas.0.Address %}
                                    <th> Address</th>
                                {% endif %}
                                {% if datas.0.CreditCard %}
                                    <th> Credit Card</th>
                                {% endif %}
                            </tr>
                            </thead>

                            <!-- body of the table-->
                            <tbody>
                            {% for item in datas %}
                                <tr>
                                    {% if item.Name %}
                                        <td>{{ item.Name }}</td>
                                    {% endif %}
                                    {% if item.Gender %}
                                        <td>{{ item.Gender }}</td>
                                    {% endif %}
                                    {% if item.Country %}
                                        <td>{{ item.Country }}</td>
                                    {% endif %}
                                    {% if item.Race %}
                                        <td>{{ item.Race }}</td>
                                    {% endif %}
                                    {% if item.Address %}
                                        <td>{{ item.Address }}</td>
                                    {% endif %}
                                    {% if item.CreditCard %}
                                        <td>{{ item.CreditCard }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    {% endif %}

                {% endautoescape %}
            </div>

            <div class="container" id="sql_data">
                {% autoescape off %}
                    {% if datas %}
                        <div class="container">
                            <!-- create table -->
                            <p>
                                CREATE TABLE Generated( <br>
                                {% if datas.0.Name %}
                                    name varchar(40), <br>
                                {% endif %}
                                {% if datas.0.Gender %}
                                    gender varchar(5), <br>
                                {% endif %}
                                {% if datas.0.Country %}
                                    country varchar(30), <br>
                                {% endif %}
                                {% if datas.0.Race %}
                                    race varchar(20), <br>
                                {% endif %}
                                {% if datas.0.Address %}
                                    address varchar100), <br>
                                {% endif %}
                                {% if datas.0.CreditCard %}
                                    credit_card varchar(30), <br>
                                {% endif %}
                                );
                            </p>
                            <!-- insertion -->
                            <p>
                                {% for item in datas %}
                                    {% with item|length as counter %}
                                        INSERT INTO Generated(
                                        {% if item.Name %}
                                            name
                                            {% if item.Gender or item.Country or item.Race or item.Address or item.CreditCard %}
                                                ,
                                            {% endif %}
                                        {% endif %}
                                        {% if item.Gender %}
                                            gender
                                            {% if item.Country or item.Race or item.Address or item.CreditCard %}
                                                ,
                                            {% endif %}
                                        {% endif %}
                                        {% if item.Country %}
                                            country
                                            {% if item.Race or item.Address or item.CreditCard %}
                                                ,
                                            {% endif %}
                                        {% endif %}
                                        {% if item.Race %}
                                            race
                                            {% if item.Address or item.CreditCard %}
                                                ,
                                            {% endif %}
                                        {% endif %}
                                        {% if item.Address %}
                                            address
                                            {% if item.CreditCard %}
                                                ,
                                            {% endif %}
                                        {% endif %}
                                        {% if item.CreditCard %}
                                            credit_card
                                        {% endif %}
                                        )

                                        {#  values  #}
                                        VALUES (
                                        {% if item.Name %}
                                            '{{ item.Name }}'
                                            {% if item.Gender or item.Country or item.Race or item.Address or item.CreditCard %}
                                                ,
                                            {% endif %}
                                        {% endif %}
                                        {% if item.Gender %}
                                            '{{ item.Gender }}'
                                            {% if item.Country or item.Race or item.Address or item.CreditCard %}
                                                ,
                                            {% endif %}
                                        {% endif %}
                                        {% if item.Country %}
                                            '{{ item.Country }}'
                                            {% if item.Race or item.Address or item.CreditCard %}
                                                ,
                                            {% endif %}
                                        {% endif %}
                                        {% if item.Race %}
                                            '{{ item.Race }}'
                                            {% if item.Address or item.CreditCard %}
                                                ,
                                            {% endif %}
                                        {% endif %}
                                        {% if item.Address %}
                                            '{{ item.Address }}'
                                            {% if item.CreditCard %}
                                                ,
                                            {% endif %}
                                        {% endif %}
                                        {% if item.CreditCard %}
                                            '{{ item.CreditCard }}'
                                        {% endif %}

                                        ); <br>
                                    {% endwith %}
                                {% endfor %}

                            </p>
                        </div>

                    {% endif %}
                {% endautoescape %}

            </div>

        </div>
    {% endif %}
</div>

<!-- js -->

<script type="text/javascript">

    {# enable and disable filter #}

    {# gender #}
    $("#checkGender").click(function () {
        var isChecked = $(this).prop("checked");
        if (!isChecked) {
            $("#male_percent_id").attr('disabled', 'disabled');
            $("#female_percent_id").attr('disabled', 'disabled');
        }
        else {
            $("#male_percent_id").removeAttr('disabled');
            $("#female_percent_id").removeAttr('disabled');
        }
    });

    {#country#}
    $("#checkCountry").click(function () {
        var isChecked = $(this).prop("checked");
        if (!isChecked) {
            $("#country_percent_1_id").attr('disabled', 'disabled');
            $("#country_percent_2_id").attr('disabled', 'disabled');
            $("#country_name_1_id").attr('disabled', 'disabled');
            $("#country_name_2_id").attr('disabled', 'disabled');
        }
        else {
            $("#country_percent_1_id").removeAttr('disabled');
            $("#country_percent_2_id").removeAttr('disabled');
            $("#country_name_1_id").removeAttr('disabled');
            $("#country_name_2_id").removeAttr('disabled');
        }
    });

    {#race#}
    $("#checkRace").click(function () {
        var isChecked = $(this).prop("checked");
        if (!isChecked) {
            $("#race_percent_1_id").attr('disabled', 'disabled');
            $("#race_percent_2_id").attr('disabled', 'disabled');
            $("#race_name_1_id").attr('disabled', 'disabled');
            $("#race_name_2_id").attr('disabled', 'disabled');
        }
        else {
            $("#race_percent_1_id").removeAttr('disabled');
            $("#race_percent_2_id").removeAttr('disabled');
            $("#race_name_1_id").removeAttr('disabled');
            $("#race_name_2_id").removeAttr('disabled');
        }
    });

    {#address#}
    {#    $("#checkAddress").click(function () {#}
    {#        var isChecked = $(this).prop("checked");#}
    {#        if (!isChecked) {#}
    {#            $("#address_percent_1_id").attr('disabled', 'disabled');#}
    {#            $("#address_percent_2_id").attr('disabled', 'disabled');#}
    {#            $("#address_name_1_id").attr('disabled', 'disabled');#}
    {#            $("#address_name_2_id").attr('disabled', 'disabled');#}
    {#        }#}
    {#        else {#}
    {#            $("#address_percent_1_id").removeAttr('disabled');#}
    {#            $("#address_percent_2_id").removeAttr('disabled');#}
    {#            $("#address_name_1_id").removeAttr('disabled');#}
    {#            $("#address_name_2_id").removeAttr('disabled');#}
    {#        }#}
    {#    });#}

    {#credit card#}
    $("#checkCard").click(function () {
        var isChecked = $(this).prop("checked");
        if (!isChecked) {
            $("#cc_percent_1_id").attr('disabled', 'disabled');
            $("#cc_percent_2_id").attr('disabled', 'disabled');
            $("#cc_name_1_id").attr('disabled', 'disabled');
            $("#cc_name_2_id").attr('disabled', 'disabled');
        }
        else {
            $("#cc_percent_1_id").removeAttr('disabled');
            $("#cc_percent_2_id").removeAttr('disabled');
            $("#cc_name_1_id").removeAttr('disabled');
            $("#cc_name_2_id").removeAttr('disabled');
        }
    });


    {# dynamic value of percentage#}
    $("#male_percent_id").change(function () {
        var val = 100 - $(this).val();
        $("#female_percent_id").val(val);
    });

    $("#country_percent_1_id").change(function () {
        var val = 100 - $(this).val();
        $("#country_percent_2_id").val(val);
    });

    $("#race_percent_1_id").change(function () {
        var val = 100 - $(this).val();
        $("#race_percent_2_id").val(val);
    });

    {#    $("#address_percent_1_id").change(function () {#}
    {#        var val = 100 - $(this).val();#}
    {#        $("#address_percent_2_id").val(val);#}
    {#    });#}

    $("#cc_percent_1_id").change(function () {
        var val = 100 - $(this).val();
        $("#cc_percent_2_id").val(val);
    });

    {#  Two pages of data present  #}

    $("#sub_page_2").click(function () {
        $("#table_data").hide();
        $("#sub_page_1").removeAttr('class');
        $("#sub_page_2").attr('class', 'active');
        $("#sql_data").show();
    });

    $("#sub_page_1").click(function () {
        $("#sql_data").hide();
        $("#sub_page_2").removeAttr('class');
        $("#sub_page_1").attr('class', 'active');
        $("#table_data").show();
    });

    $(document).ready(function () {
        $("#sql_data").hide();
    });

</script>

</body>

</html>
