<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Generator</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static "datagen/bootstrap/css/bootstrap.min.css" %} "/>
    <link rel="stylesheet" type="text/css" href=" {% static "datagen/bootstrap/css/magic-check.css" %} "/>

</head>

<body>
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/DataGenerator/">Data Generator</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/DataGenerator/manual">User Manual</a></li>
                <li><a href="/DataGenerator/documentation">Documentation</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <form action="/DataGenerator/" method="post">
            {% csrf_token %}
            <div class="container">

                <!--Name-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="name" id="checkName">
                        <label for="checkName"> Name </label>
                    </div>
                </div>
                </br>

                <!--Gender-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="gender" id="checkGender">
                        <label for="checkGender"> Gender </label>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" min="1" max="100" class="form-control" name="male_percent"
                               placeholder="Male Percentage">
                    </div>
                    <div class="col-sm-2">
                        <input type="number" min="1" max="100" class="form-control" name="female_percent"
                               placeholder="Female Percentage">
                    </div>

                </div>
                </br>


                <!--country-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="country"
                               id="checkCountry">
                        <label for="checkCountry"> Country </label>
                    </div>
{#                    <div class="col-sm-3">#}
{#                        <div class="form-group" >#}
{#                            <input type="text" class="form-control" name="country" placeholder="country">#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="country_name_1">
                                <option>NONE</option>
                                <option>Singapore</option>
                                <option>Malaysia</option>
                                <option>China</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" min="1" max="100" class="form-control" name="country_percent_1"
                               placeholder="Percentage">
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control" name="country_name_2">
                            <option>NONE</option>
                            <option>Singapore</option>
                            <option>Malaysia</option>
                            <option>China</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" min="1" max="100" class="form-control" name="country_percent_2"
                               placeholder="Percentage">
                    </div>
                </div>

                <!--race-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="race" id="checkRace">
                        <label for="checkRace"> Race </label>
                    </div>
{#                    <div class="col-sm-2">#}
{#                        <div class="form-group">#}
{#                            <input type="text" class="form-control" name="race" placeholder="race">#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="race_name_1">
                                <option>NONE</option>
                                <option>Chinese</option>
                                <option>Indian</option>
                                <option>Malayan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" min="1" max="100" class="form-control" name="race_percent_1"
                               placeholder="Percentage">
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="race_name_2">
                                <option>NONE</option>
                                <option>Chinese</option>
                                <option>Indian</option>
                                <option>Malayan</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" min="1" max="100" class="form-control" name="race_percent_2"
                               placeholder="Percentage">
                    </div>
                </div>

                <!--address-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="address"
                               id="checkAddress">
                        <label for="checkAddress"> Address </label>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                </br>

                <!--credit card-->
                <div class="row">
                    <div class="col-sm-2">
                        <input class="magic-checkbox" type="checkbox" name="check_list" value="credit_card"
                               id="checkCard">
                        <label for="checkCard"> Credit Card </label>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="cc_name_1">
                                <option>NONE</option>
                                <option>Visa</option>
                                <option>Mastercard</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" min="1" max="100" class="form-control" name="cc_percent_1"
                               placeholder="Percentage">
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <select class="form-control" name="cc_name_2">
                                <option>NONE</option>
                                <option>Visa</option>
                                <option>Mastercard</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <input type="number" min="1" max="100" class="form-control" name="cc_percent_2"
                               placeholder="Percentage">
                    </div>
                </div>

                </br>
                <!--generate bottom and number of rows-->
                <div class="row">
                    <div class="col-sm-2">
                        <input type="number" min="1" max="1000" class="form-control" name="rows"
                               placeholder="number of rows">
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" class="btn btn-info" value="Generate">
                    </div>
                </div>
            </div>

        </form>

        <!-- result display. rlt is defined in search.py-->
        <div>
            {% autoescape off %}

                {% if datas %}
                    <table class="table table-striped table-bordered">
                        <caption> {{ datas|length }} rows of data generated!</caption>
                        <!-- header of the table-->
                        <thead>
                        <tr>
                            {% if datas.0.Name %}
                                <th> Name</th>
                            {% endif %}
                            {% if datas.0.Gender %}
                                <th> Gender</th>
                            {% endif %}
                            {% if datas.0.CountryName %}
                                <th> Country Name</th>
                            {% endif %}
                            {% if datas.0.Race %}
                                <th> Race</th>
                            {% endif %}
                            {% if datas.0.Address %}
                                <th> Address</th>
                            {% endif %}
                            {% if datas.0.CreditCard %}
                                <th> Credit Card</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in datas %}
                            <tr>
                                {% if item.Name %}
                                    <td>{{ item.Name }}</td>
                                {% endif %}
                                {% if item.Gender %}
                                    <td>{{ item.Gender }}</td>
                                {% endif %}
                                {% if item.CountryName %}
                                    <td>{{ item.CountryName }}</td>
                                {% endif %}
                                {% if item.Race %}
                                    <td>{{ item.Race }}</td>
                                {% endif %}
                                {% if item.Address %}
                                    <td>{{ item.Address }}</td>
                                {% endif %}
                                {% if item.CreditCard %}
                                    <td>{{ item.CreditCard }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                {% endif %}

            {% endautoescape %}
        </div>
    </div>

</div>
</body>

</html>
